<!DOCTYPE html>
<html>
  <head>
    <title>Request Testing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/request/request.js"></script>

    <link href="/javascripts/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/google-code-prettify/prettify.js"></script>
  </head>
  <body onload="prettyPrint()">
    <div>
      <h2>Request Testing</h2>
      <a href='/clients'>Clients</a>
      <form id="newClientForm" action="" method="POST">
        <label>URL (api/v1/)</label>
        <input type="text" placeholder="API URL" value='malba' id='url'>
        </br>
        <label>Device OS</label>
        <input type="text" placeholder="" value='IOS' id='device_os'>
        </br>
        <label>Device UUID</label>
        <input type="text" placeholder="" value='12312312-3123-1231-2313-123123123123' id='device_uuid'>
        </br>
        <label>Beacons</label>
        </br>
        <div id='beacons'>
        </div>
        <input type="button" value="Add Beacon" id='addBeaconButton'>
        </br>
        <input type="button" value="Send" id='sendButton'>
      </form>
    <div>
    <div id='response'>
        <code class="prettyprint linenums">
        </code>
    </div>
  </body>
</html>
