<!DOCTYPE html>
<html>
  <head>
    <title>Update Layout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/store_layout/store_layout.js"></script>
  </head>
  <body>
    <div>
      <h2>Layout</h2>
      <a href='/clients/<%= store.client %>/stores/<%= store._id %>/'>Stores</a>
      <div>
        <label>Corners</label>
        </br>
        <div id='corners'>
        </div>
        <input type="button" value="Add Corner" id='addCornerButton'>
        </br>
        </br>
        <input type="button" value="Generate view" id='generateView'>
        <div id='layout'>
          <canvas id="canvas_layout" width="200" height="200" style="border:1px solid #000000;">
          </canvas>
        </div>
        </br>
        <input type="button" value="Send" id='sendButton'>
      </div>
    <div>
  </body>
</html>
