<!DOCTYPE html>
<html>
  <head>
    <title>Update Layout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/store_layout/store_layout.js"></script>
  </head>
  <body>
    <div>
      <h2>Layout</h2>
      <a href='/stores'>Stores</a>
      <div>
        <label>Corners</label>
        </br>
        <div id='corners'>
        </div>
        <input type="button" value="Add Corner" id='addCornerButton'>
        </br>
        <input type="button" value="Send" id='sendButton'>
      </div>
    <div>
    <div id='layout'>
    </div>
  </body>
</html>
