<div class="row">
  <div class="col-lg-12">
    <h2>Update client</h2>
    <form id="newClientForm" action="/clients/<%= client._id %>" method="POST">
      <input name="_method" value="PUT" type="hidden">
      <label>Name</label>
      <input type="text" value='<%= client.name %>' placeholder="Name" name="name" required>
      <label>Primary UUID</label>
      <input type="text" value='<%= client.uuid %>' placeholder="12312312312-1231-2312-3123-123123123123" name="uuid" pattern="^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$" required>
      <input type="submit" value="Update" id='updateClientButton'/>
    </form>
  </div>
</div>
