<!DOCTYPE html>
<html>
  <% include _header %>
  <body>
    <div id='wrapper'>
      <% include _navbar %>
      <div id='page-wrapper'>
        <div class='container-fluid'>
          <!-- Page Heading -->
          <% if (is_new && is_new==4) { %>
            <% include _error %>
          <% } %>
          <% include _add_client %>
          <% include _clients %>
        </div>
      </div>
    </div>
    <% include _bottom_js %>
    <script src="/javascripts/clients.js"></script>
    <% if (is_new && is_new == 1) { %>
      <script>
        $('#addClientModal').modal();
      </script>
    <% } %>
  </body>
</html>
