<!DOCTYPE html>
<html>
  <% include _header %>
  <body>
    <div id='wrapper'>
      <% include _navbar %>
      <div id='page-wrapper'>
        <div class='container-fluid'>
          <!-- Page Heading -->
          <div class="row">
            <div class='col-lg-12'>
              <h1>404</h1>
              <h3>Page Not Found<h3>
              <div>
                Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include _bottom_js %>
  </body>
  </body>
</html>
