<!DOCTYPE html>
<html>
  <% include _header %>
  <body>
    <div id='wrapper'>
      <% include _navbar %>
      <div id='page-wrapper'>
        <div class='container-fluid'>
          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header"><%= beacon.beacon_name %> <small></h1>
              <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Stores</li>
              </ol>
            </div>
          </div>
          <!-- /.row -->
          <% include _update_beacon %>
        </div>
      </div>
    </div>
    <% include _bottom_js %>
  </body>
</html>
